<template>
    <div id="IncomePage">
        <router-link to="/Add/Income">
            <button class="button-add-income">AÑADIR INGRESO</button>
        </router-link>
        <h4 class="await-loading" v-if="loading">
            <img src="@/assets/loading.gif" alt="esperate pesau" />loading...
        </h4>
        <section>
            <MovementList
                :movements="movements"
                @delete-Movements="btnDeletMovements"
                @btnedit="editMovements"
            />
        </section>
    </div>
</template>

<script>
import MovementList from '@/components/Movements/MovementList.vue'
import api from '@/api.js'
export default {
    name: 'IncomePage',
    components: {
        MovementList,
    },
    data() {
        return {
            movements: [],
            typeMovements: 'Income',
            loading: true,
        }
    },
    async mounted() {
        this.loading = true
        setTimeout(() => {
            this.loading = false
        }, 500)
        this.movements = await this.displayMovements()
    },

    methods: {
        async displayMovements() {
            return await api.displayIMovements()
        },

        async btnDeletMovements(id_movements) {
            api.deleteMovements(id_movements)
            this.displayMovements()
        },
    },
}
</script>
<style scoped>
.button-add-income {
    margin-bottom: auto;
    width: 310px;
    height: 40px;
    border-radius: 2px;
    background-color: #76ffda;
    box-shadow: 1px 1px 3px #f0f0f0;

    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    border: none;
}
.button-add-income:hover {
    background-color: #000000;
    color: whitesmoke;
}
</style>
