<template>
    <div id="login">
        <section id="container-login">
            <h1>Login</h1>
            <input type="text" name="username" v-model="input.username" placeholder="Username" />
            <input type="password" name="password" v-model="input.password" placeholder="Password" />
        </section>
        <router-link to="/Home">
            <button class="enter">Entrar</button>
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            input: {
                username: '',
                password: '',
            },
        }
    },
    methods: {},
}
</script>

<style scoped>
#container-login {
    width: 90px;
    height: 160px;
    padding: 130px;
    padding-bottom: 0px;
    margin: 0 auto;
    margin-top: 300px;
}
</style>
