<template>
    <div class="container">
        <div class="col-md-8 mx-auto form">
            <EditMovementForm :movements="movements" @edit-movements="ediitmovement" />
        </div>
    </div>
</template>
<script>
import EditMovementForm from '@/components/EditAmountPage/EditMovementForm.vue'
import api from '@/api.js'
export default {
    components: {
        EditMovementForm,
    },
    data() {
        return {
            movements: [],
            id_movements: null,
        }
    },
    async mounted() {
        this.movements = await this.EdiitMovement()
    },
    methods: {
        async EdiitMovement(id_movements) {
            id_movements = this.$route.params.id_Movements
            const movement_aux = await api.editdisplayaMovement(id_movements)
            return movement_aux[0]
        },
        async ediitmovement(localmovements) {
            let id_movements = localmovements.id_movements
            await api.updateMovement(id_movements, localmovements)
            console.log('hhhhhhhhhhhh')
        },
    },
}
</script>
<style scoped>
.container {
    margin-top: 4%;
}
.form {
    background-color: #76ffda;
    padding: 30px;
    opacity: 0.8;
    color: black;
    border-radius: 7px;
}
</style>
