<template>
    <div class="form">
        <div v-show="warningmessage" id="warning" class="alert alert-success" role="alert">Bien</div>
        <form>
            <div class="form-group">
                <input
                    type="text"
                    id="exampleInputEmail1"
                    class="name-movements form-control form-control-lg"
                    v-model="localmovements.name_movements"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="money-movements form-control form-control-lg"
                    id="exampleInputEmail1"
                    v-model="localmovements.money_movements"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    id="exampleInputEmail1"
                    class="description-movements form-control form-control-lg"
                    v-model="localmovements.description_movements"
                />
            </div>
            <!--  <select
                class="input-text js-input category-movements"
                v-model="category_movements"
            >
                <option
                    class="optionCategory"
                    v-for="(listCategory, index) in movementListCategory"
                    :key="index"
                    :value="listCategory.id_category"
                    >{{ listCategory.name_category }}</option
                >
            </select>--->
            <div class="form-group">
                <button
                    type="button"
                    class="btn ButtonAdd btn-outline-success btn-lg btn-block"
                    @click="updatmovements"
                >Editar</button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    props: {
        movements: {
            propType: Object,
            required: true,
        },
    },
    data() {
        return {
            localmovements: {},
            warningmessage: false,
        }
    },
    watch: {
        movements: {
            immediate: true,
            handler: function(newmovements) {
                this.localmovements = JSON.parse(JSON.stringify(newmovements))
            },
        },
    },
    methods: {
        async updatmovements() {
            this.$emit('edit-movements', this.localmovements)
            this.warningmessage = true
        },
    },
}
</script>
<style  scoped>
.form-control {
    color: black;
}
</style>
