<template>
    <div id="homePage">
        <h4 class="await-loading" v-if="loading">
            <img src="@/assets/loading.gif" alt="esperate pesau" />loading...
        </h4>
        <MovementList
            v-else
            :movements="movements"
            @delete-Movements="deletMovements"
        />
    </div>
</template>

<script>
import api from '@/api.js'
import MovementList from '@/components/Movements/MovementList.vue'
export default {
    name: 'Home',
    components: {
        MovementList,
    },
    data() {
        return {
            movements: [],
            loading: true,
        }
    },
    async mounted() {
        this.movements = await this.displayMovements()
    },
    methods: {
        async displayMovements() {
            this.loading = true
            console.log('lista array', this.movements)
            this.movements = await api.displayMovement()
            setTimeout(() => {
                this.loading = false
            }, 1000)
            return this.movements
        },
        async deletMovements(id_movements) {
            api.deleteMovements(id_movements)
            this.displayMovements()
        },
    },
}
</script>

<style scoped>
.tabla-de-movimientos-in-home {
    margin-top: 500px;
}
.tabla {
    margin: 0 auto;
}
.await-loading {
    text-align: center;
}
</style>
