<template>
    <div id="Navegation">
        <nav>
            <img id="logo" src="@/assets/images.png" />

            <label class="hamburger" for="nav-toggle"></label>
            <input id="nav-toggle" type="checkbox" class="hidden" />
            <div class="menu">
                <ul>
                    <li>
                        <router-link to="/Home">
                            <a href>Home</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/Expenses">
                            <a href>Gastos</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/Income">
                            <a href>Ingresos</a>
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>

        <h1 class="callToAction">
            Mira el estado
            de tus cuentas
        </h1>
    </div>
</template>

<script>
export default {
    name: 'Navegation',
}
</script>

<style scope>
nav {
    width: 100%;
    display: inline-block;
    background-color: #76ffda;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.hamburger {
    height: 20px;
    width: 20px;
    padding: 20px;
    float: right;
    cursor: pointer;
}

.hamburger:before {
    content: '';
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    height: 4px;
}

.hamburger:after {
    content: '';
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    box-shadow: 0px 8px 0 #f3f3f3;
}

.menu {
    background-color: #2b2b2b;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    clear: both;
    transition: max-height 0.3s cubic-bezier(0.63, 0, 0.25, 1);
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.menu li {
    display: block;
    margin: 0;
    text-align: center;
}

.menu a {
    color: black;
    display: block;
    padding: 0.4em;
}

nav input[type='checkbox']:checked ~ .menu {
    max-height: 150px;
    border-bottom: #404040 5px solid;
}

nav a:hover,
nav a:focus,
nav label:hover,
nav label:focus {
    background-color: #070707;
    color: #f3f3f3;
    border-radius: 5px;
}

@media (min-width: 700px) {
    .hamburger {
        display: none;
    }

    .menu {
        background: transparent;
        float: right;
        border: 0 !important;
        max-height: none;
    }

    .menu ul,
    .menu li,
    .menu li a {
        display: inline-block;
    }

    .menu a {
        display: inline-block;
        padding: 15px 1em;
        text-decoration: none;
    }
}

.hidden {
    position: fixed;
    top: -100%;
    left: -100%;
}
#logo {
    margin-top: 30px;
    margin-right: 70%;
    width: 7%;
}
.callToAction {
    margin-top: 8%;
}
</style>
