<template>
    <div>
        <section class="comtainer">
            <div class="col 12 mx-auto">
                <router-link to="/Add/Expenses">
                    <button class="button-add-expense">AÑADIR GASTOS</button>
                </router-link>
                <h4 class="await-loading" v-if="loading">
                    <img
                        src="@/assets/loading.gif"
                        alt="esperate pesau"
                    />loading...
                </h4>
                <MovementList
                    :movements="movements"
                    @delete-Movements="btnDeletMovements"
                    @btnedit="editMovements"
                />
            </div>
        </section>
    </div>
</template>

<script>
import MovementList from '@/components/Movements/MovementList.vue'
import api from '@/api.js'
export default {
    components: {
        MovementList,
    },
    data() {
        return {
            movements: [],
            type_movements: 'Expenses',
            loading: true,
        }
    },

    async mounted() {
        this.loading = true
        setTimeout(() => {
            this.loading = false
        }, 500)
        this.movements = await this.displayMovements()
    },
    methods: {
        async displayMovements() {
            const result = await fetch('/api/desplayGMovements')
            const data = await result.json()
            return data
        },

        async btnDeletMovements(id_movements) {
            api.deleteMovements(id_movements)
            this.displayMovements()
        },
    },
}
</script>
<style scoped>
.button-add-expense {
    margin-bottom: auto;
    width: 310px;
    height: 40px;
    border-radius: 2px;
    background-color: #76ffda;
    box-shadow: 1px 1px 3px #f0f0f0;

    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    border: none;
}
.button-add-expense:hover {
    background-color: #000000;
    color: whitesmoke;
}
</style>
