<template>
    <div id="MovementList">
        <section class="comtainer">
            <div class="col-8 mx-auto">
                <table class="table">
                    <tr class="tr">
                        <th class="name"  >Nombre</th>
                        <th>Dinero</th>
                        <th>Tipo de Gasto</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Categorias</th>
                        <th></th>
                    </tr>
                    <template v-for="(listMovement, index) in movements">
                        <MovementItem
                            :movements="listMovement"
                            :key="index"
                            @button-delete="deleteMovementsButton"
                            @btnedit="editMovementsButton"
                        />
                    </template>
                </table>
            </div>
        </section>
    </div>
</template>
<script>
import MovementItem from '@/components/Movements/MovementItem.vue'

export default {
    name: 'MovementList',
    components: {
        MovementItem,
    },

    props: {
        movements: {
            propType: Array,
            required: true,
        },
    },
    methods: {
        deleteMovementsButton(id_movements) {
            this.$emit('delete-Movements', id_movements)
        },

    },

}
</script>
<style scoped>
.tr {
    background-color: #76ffda;
}
#MovementList {
    margin-top: 2%;
}
</style>
