<template>
    <tr>
        <td>{{ movements.name_movements }}</td>
        <td>{{ movements.money_movements }}</td>
        <td>{{ movements.type_movements }}</td>
        <td>{{ movements.date_movements }}</td>
        <td>{{ movements.description_movements}}</td>
        <td>{{ movements.name_category }}</td>
        <td>
            <button class="btn button-delete btn-outline-danger" @click="onClickButtonDelete">
                <i class="fas fa-trash-alt"></i>
            </button>
            <router-link :to="'Edit/'+movements.id_movements">
                <button class="btn button-edit btn-outline-success">
                    <i class="fas fa-edit"></i>
                </button>
            </router-link>
        </td>
    </tr>
</template>
<script>
export default {
    name: 'MovementItem',

    props: {
        movements: { propType: Object, required: true },
    },
    methods: {
        onClickButtonDelete() {
            this.$emit('button-delete', this.movements.id_movements)
        },
    },
}
</script>
<style scoped>
.btn {
    margin: 2px;
}
</style>
