<template>
    <div class="container">
        <div class="col-md-8 mx-auto form">
            <AddMovementForm :movementListCategory="categoryList" @new-movements="addMovements" />
        </div>
    </div>
</template>
<script>
import AddMovementForm from './AddMovementForm.vue'
import api from '@/api.js'
export default {
    components: {
        AddMovementForm,
    },

    data() {
        return {
            categoryList: [],
        }
    },
    async mounted() {
        console.log('she')
        this.categoryList = await this.displayCategory()
    },
    methods: {
        async displayCategory() {
            console.log('zior1')
            return await api.displayApiCategory()
        },
        async addMovements(movements) {
            movements.type_movements = this.$route.params.type
            await api.getExpenses(movements)
        },
    },
}
</script>
<style  scoped>
.add {
    margin-top: 20%;
}
.form {
    background-color: #76ffda;
    padding: 30px;
    opacity: 0.8;
    color: black;
    border-radius: 7px;
}
</style>
