<template>
    <div>
        <form>
            <div v-show="warningmessage" id="warning" class="alert alert-success" role="alert">Bien</div>

            <div class="form-group">
                <input
                    type="text"
                    id="exampleInputEmail1"
                    placeholder="Nombre"
                    class="name-movements form-control form-control-lg"
                    v-model="movement.name_movements"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="money-movements form-control form-control-lg"
                    id="exampleInputEmail1"
                    placeholder="Dinero"
                    v-model="movement.money_movements"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    id="exampleInputEmail1"
                    placeholder="Description"
                    class="description-movements form-control form-control-lg"
                    v-model="movement.description_movements"
                />
            </div>
            <div class="form-group">
                <select
                    class="category-movements form-control form-control-lg"
                    v-model="movement.category_movements"
                >
                    <option
                        class="optionCategory"
                        v-for="(listCategory, index) in movementListCategory"
                        :key="index"
                        :value="listCategory.id_category"
                    >{{ listCategory.name_category }}</option>
                </select>
            </div>
            <div class="form-group">
                <button
                    type="button"
                    class="btn ButtonAdd btn-info btn-lg btn-block"
                    @click="newMovements"
                >Añadir</button>
            </div>
        </form>
    </div>
</template>
<script>
//import api from "@/api.js";
export default {
    components: {},
    props: {
        movementListCategory: {
            propType: Array,
            required: true,
        },
    },
    data() {
        return {
            movement: {
                id_movements: null,
                name_movements: null,
                money_movements: null,
                description_movements: null,
                category_movements: null,
                type_movements: null,
                date_movements: null,
            },
            warningmessage: false,
        }
    },

    methods: {
        async newMovements() {
            this.$emit('new-movements', this.movement)
            this.warningmessage = true
            this.movement = ''
        },
    },
}
</script>
<style scoped>
</style>
